@{
    ViewBag.Title = "Danh sach san hang san suat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3 class="title">Danh sach san hang san suat</h3>

<table>
    <thead>
        <str>
            <th>STT</th>
            <th>Mã</th>
            <th>Ten</th>
            <th>Quoc gia</th>
        </str>
    </thead>
    <tbody>

        <tr>
            <td>1</td>
            <td>Tn1</td>
            <td>Thống nhất</td>
            <td>Viet Nam</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Tn2</td>
            <td>Kim Dong</td>
            <td>Úc</td>
        </tr>
</table>
<script src="~/theme/js/main.js"></script>
